.App{
    width:100%;
    min-height: 100vh;      /* yeti content le full height cover gardaina vane min height ko use hunxa for dark mode*/
    background-color: var(--background-color);
    color: var(--primary-text-color);
}
